/**
 * User: Martin Tazlari  @Cyberlearn
 * Date: 01.12.2015
 * Time: 11:35
 * @license   http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
 */
.footeraction {
    text-align: center;
    margin-bottom: 15px;
}



.flag {
    width: 32px;
    height: 24px;
    background: transparent url([[pix:moodecgrpmanagement|flags]]) no-repeat;
		margin: 2px auto;
/*background:url('./pix/flags.png') no-repeat;*/
}

.flag.flag-ad {background-position: -32px -5px}
.flag.flag-ae {background-position: -64px -5px}
.flag.flag-af {background-position: -96px -5px}
.flag.flag-ag {background-position: -128px -5px}
.flag.flag-ai {background-position: -160px -5px}
.flag.flag-al {background-position: -192px -5px}
.flag.flag-am {background-position: -224px -5px}
.flag.flag-an {background-position: -256px -5px}
.flag.flag-ao {background-position: -288px -5px}
.flag.flag-ar {background-position: -320px -5px}
.flag.flag-as {background-position: -352px -5px}
.flag.flag-at {background-position: -384px -5px}
.flag.flag-au {background-position: -416px -5px}
.flag.flag-aw {background-position: -448px -5px}
.flag.flag-az {background-position: 0 -37px}
.flag.flag-ba {background-position: -32px -37px}
.flag.flag-bb {background-position: -64px -37px}
.flag.flag-bd {background-position: -96px -37px}
.flag.flag-be {background-position: -128px -37px}
.flag.flag-bf {background-position: -160px -37px}
.flag.flag-bg {background-position: -192px -37px}
.flag.flag-bh {background-position: -224px -37px}
.flag.flag-bi {background-position: -256px -37px}
.flag.flag-bj {background-position: -288px -37px}
.flag.flag-bm {background-position: -320px -37px}
.flag.flag-bn {background-position: -352px -37px}
.flag.flag-bo {background-position: -384px -37px}
.flag.flag-br {background-position: -416px -37px}
.flag.flag-bs {background-position: -448px -37px}
.flag.flag-bt {background-position: 0 -69px}
.flag.flag-bw {background-position: -32px -69px}
.flag.flag-by {background-position: -64px -69px}
.flag.flag-bz {background-position: -96px -69px}
.flag.flag-ca {background-position: -128px -69px}
.flag.flag-cd {background-position: -160px -69px}
.flag.flag-cf {background-position: -192px -69px}
.flag.flag-cg {background-position: -224px -69px}
.flag.flag-ch {background-position: -256px -69px}
.flag.flag-ci {background-position: -288px -69px}
.flag.flag-ck {background-position: -320px -69px}
.flag.flag-cl {background-position: -352px -69px}
.flag.flag-cm {background-position: -384px -69px}
.flag.flag-cn {background-position: -416px -69px}
.flag.flag-co {background-position: -448px -69px}
.flag.flag-cr {background-position: 0 -101px}
.flag.flag-cu {background-position: -32px -101px}
.flag.flag-cv {background-position: -64px -101px}
.flag.flag-cy {background-position: -96px -101px}
.flag.flag-cz {background-position: -128px -101px}
.flag.flag-de {background-position: -160px -101px}
.flag.flag-dj {background-position: -192px -101px}
.flag.flag-dk {background-position: -224px -101px}
.flag.flag-dm {background-position: -256px -101px}
.flag.flag-do {background-position: -288px -101px}
.flag.flag-dz {background-position: -320px -101px}
.flag.flag-ec {background-position: -352px -101px}
.flag.flag-ee {background-position: -384px -101px}
.flag.flag-eg {background-position: -416px -101px}
.flag.flag-eh {background-position: -448px -101px}
.flag.flag-er {background-position: 0 -133px}
.flag.flag-es {background-position: -32px -133px}
.flag.flag-et {background-position: -64px -133px}
.flag.flag-fi {background-position: -96px -133px}
.flag.flag-fj {background-position: -128px -133px}
.flag.flag-fm {background-position: -160px -133px}
.flag.flag-fo {background-position: -192px -133px}
.flag.flag-fr {background-position: -224px -133px}
.flag.flag-ga {background-position: -256px -133px}
.flag.flag-gb {background-position: -288px -133px}
.flag.flag-gd {background-position: -320px -133px}
.flag.flag-ge {background-position: -352px -133px}
.flag.flag-gg {background-position: -384px -133px}
.flag.flag-gh {background-position: -416px -133px}
.flag.flag-gi {background-position: -448px -133px}
.flag.flag-gl {background-position: 0 -165px}
.flag.flag-gm {background-position: -32px -165px}
.flag.flag-gn {background-position: -64px -165px}
.flag.flag-gp {background-position: -96px -165px}
.flag.flag-gq {background-position: -128px -165px}
.flag.flag-gr {background-position: -160px -165px}
.flag.flag-gt {background-position: -192px -165px}
.flag.flag-gu {background-position: -224px -165px}
.flag.flag-gw {background-position: -256px -165px}
.flag.flag-gy {background-position: -288px -165px}
.flag.flag-hk {background-position: -320px -165px}
.flag.flag-hn {background-position: -352px -165px}
.flag.flag-hr {background-position: -384px -165px}
.flag.flag-ht {background-position: -416px -165px}
.flag.flag-hu {background-position: -448px -165px}
.flag.flag-id {background-position: 0 -197px}
.flag.flag-ie {background-position: -32px -197px}
.flag.flag-il {background-position: -64px -197px}
.flag.flag-im {background-position: -96px -197px}
.flag.flag-in {background-position: -128px -197px}
.flag.flag-iq {background-position: -160px -197px}
.flag.flag-ir {background-position: -192px -197px}
.flag.flag-is {background-position: -224px -197px}
.flag.flag-it {background-position: -256px -197px}
.flag.flag-je {background-position: -288px -197px}
.flag.flag-jm {background-position: -320px -197px}
.flag.flag-jo {background-position: -352px -197px}
.flag.flag-jp {background-position: -384px -197px}
.flag.flag-ke {background-position: -416px -197px}
.flag.flag-kg {background-position: -448px -197px}
.flag.flag-kh {background-position: 0 -229px}
.flag.flag-ki {background-position: -32px -229px}
.flag.flag-km {background-position: -64px -229px}
.flag.flag-kn {background-position: -96px -229px}
.flag.flag-kp {background-position: -128px -229px}
.flag.flag-kr {background-position: -160px -229px}
.flag.flag-kw {background-position: -192px -229px}
.flag.flag-ky {background-position: -224px -229px}
.flag.flag-kz {background-position: -256px -229px}
.flag.flag-la {background-position: -288px -229px}
.flag.flag-lb {background-position: -320px -229px}
.flag.flag-lc {background-position: -352px -229px}
.flag.flag-li {background-position: -384px -229px}
.flag.flag-lk {background-position: -416px -229px}
.flag.flag-lr {background-position: -448px -229px}
.flag.flag-ls {background-position: 0 -261px}
.flag.flag-lt {background-position: -32px -261px}
.flag.flag-lu {background-position: -64px -261px}
.flag.flag-lv {background-position: -96px -261px}
.flag.flag-ly {background-position: -128px -261px}
.flag.flag-ma {background-position: -160px -261px}
.flag.flag-mc {background-position: -192px -261px}
.flag.flag-md {background-position: -224px -261px}
.flag.flag-me {background-position: -256px -261px}
.flag.flag-mg {background-position: -288px -261px}
.flag.flag-mh {background-position: -320px -261px}
.flag.flag-mk {background-position: -352px -261px}
.flag.flag-ml {background-position: -384px -261px}
.flag.flag-mm {background-position: -416px -261px}
.flag.flag-mn {background-position: -448px -261px}
.flag.flag-mo {background-position: 0 -293px}
.flag.flag-mq {background-position: -32px -293px}
.flag.flag-mr {background-position: -64px -293px}
.flag.flag-ms {background-position: -96px -293px}
.flag.flag-mt {background-position: -128px -293px}
.flag.flag-mu {background-position: -160px -293px}
.flag.flag-mv {background-position: -192px -293px}
.flag.flag-mw {background-position: -224px -293px}
.flag.flag-mx {background-position: -256px -293px}
.flag.flag-my {background-position: -288px -293px}
.flag.flag-mz {background-position: -320px -293px}
.flag.flag-na {background-position: -352px -293px}
.flag.flag-nc {background-position: -384px -293px}
.flag.flag-ne {background-position: -416px -293px}
.flag.flag-ng {background-position: -448px -293px}
.flag.flag-ni {background-position: 0 -325px}
.flag.flag-nl {background-position: -32px -325px}
.flag.flag-no {background-position: -64px -325px}
.flag.flag-np {background-position: -96px -325px}
.flag.flag-nr {background-position: -128px -325px}
.flag.flag-nz {background-position: -160px -325px}
.flag.flag-om {background-position: -192px -325px}
.flag.flag-pa {background-position: -224px -325px}
.flag.flag-pe {background-position: -256px -325px}
.flag.flag-pf {background-position: -288px -325px}
.flag.flag-pg {background-position: -320px -325px}
.flag.flag-ph {background-position: -352px -325px}
.flag.flag-pk {background-position: -384px -325px}
.flag.flag-pl {background-position: -416px -325px}
.flag.flag-pr {background-position: -448px -325px}
.flag.flag-ps {background-position: 0 -357px}
.flag.flag-pt {background-position: -32px -357px}
.flag.flag-pw {background-position: -64px -357px}
.flag.flag-py {background-position: -96px -357px}
.flag.flag-qa {background-position: -128px -357px}
.flag.flag-re {background-position: -160px -357px}
.flag.flag-ro {background-position: -192px -357px}
.flag.flag-rs {background-position: -224px -357px}
.flag.flag-ru {background-position: -256px -357px}
.flag.flag-rw {background-position: -288px -357px}
.flag.flag-sa {background-position: -320px -357px}
.flag.flag-sb {background-position: -352px -357px}
.flag.flag-sc {background-position: -384px -357px}
.flag.flag-sd {background-position: -416px -357px}
.flag.flag-se {background-position: -448px -357px}
.flag.flag-sg {background-position: 0 -389px}
.flag.flag-si {background-position: -32px -389px}
.flag.flag-sk {background-position: -64px -389px}
.flag.flag-sl {background-position: -96px -389px}
.flag.flag-sm {background-position: -128px -389px}
.flag.flag-sn {background-position: -160px -389px}
.flag.flag-so {background-position: -192px -389px}
.flag.flag-sr {background-position: -224px -389px}
.flag.flag-st {background-position: -256px -389px}
.flag.flag-sv {background-position: -288px -389px}
.flag.flag-sy {background-position: -320px -389px}
.flag.flag-sz {background-position: -352px -389px}
.flag.flag-tc {background-position: -384px -389px}
.flag.flag-td {background-position: -416px -389px}
.flag.flag-tg {background-position: -448px -389px}
.flag.flag-th {background-position: 0 -421px}
.flag.flag-tj {background-position: -32px -421px}
.flag.flag-tl {background-position: -64px -421px}
.flag.flag-tm {background-position: -96px -421px}
.flag.flag-tn {background-position: -128px -421px}
.flag.flag-to {background-position: -160px -421px}
.flag.flag-tr {background-position: -192px -421px}
.flag.flag-tt {background-position: -224px -421px}
.flag.flag-tv {background-position: -256px -421px}
.flag.flag-tw {background-position: -288px -421px}
.flag.flag-tz {background-position: -320px -421px}
.flag.flag-ua {background-position: -352px -421px}
.flag.flag-ug {background-position: -384px -421px}
.flag.flag-us {background-position: -416px -421px}
.flag.flag-uy {background-position: -448px -421px}
.flag.flag-uz {background-position: 0 -453px}
.flag.flag-va {background-position: -32px -453px}
.flag.flag-vc {background-position: -64px -453px}
.flag.flag-ve {background-position: -96px -453px}
.flag.flag-vg {background-position: -128px -453px}
.flag.flag-vi {background-position: -160px -453px}
.flag.flag-vn {background-position: -192px -453px}
.flag.flag-vu {background-position: -224px -453px}
.flag.flag-ws {background-position: -256px -453px}
.flag.flag-ye {background-position: -288px -453px}
.flag.flag-za {background-position: -320px -453px}
.flag.flag-zm {background-position: -352px -453px}
.flag.flag-zw {background-position: -384px -453px}



table tr.option label.nameGroup
{
	display: inline-block;

}

table tr.option div.nbrMember
{
	display: inline-block;
	width: 50px;
	height: 20px;
	background: transparent url([[pix:moodecgrpmanagement|member]]) no-repeat right center;
	background-size: auto 18px;
	padding-right: 20px;
}

table tr.option div.nbrMemberBGC
{
	display: inline-block;
	border-radius: 0px;
	width: 50px;
	height: 20px;
	background-color: rgba(0,124,183,0.9);
	font-size: 0.7em;
	text-align: center;
	vertical-align: middle;
	color: #fff;
	line-height: 21px;
	text-align: center;
	margin: 0 0 0 10px;
	font-weight: 600;
}

table tr.option div.nbrMemberBGC,
table tr.option div.iconPrivate
{
	float: right;
}
img.grouppicture
{
	width: 35px;
	height: 35px;
	margin: 0 10px 0 0;
}

.hasScrollX
{
	 overflow-x: auto;
}
form
{
	width: 100%;
}

table.generaltable 
{
	background-color: #f5f5f5;
}
table #choix
{
	width: 37px;
}

.option input[type="checkbox"]
{
	margin: 0;
}

#groupdetail #descriptionGroup
{
	width: 59%;
  float: left;
  padding: 15px 0;
	margin-right: 0;
  text-align: justify;
}

#groupdetail #groupMemberInfo
{
	width: 39%;
	float: right;
	padding: 0 0 2% 0;
	margin: 0 0 1% 2%;
	text-align: center;
	background-color: #e3e3e3;
}

	
#groupdetail #locationInfo {
	padding: 15px;
	width: 100%;
	box-sizing: border-box;
	background-color: #e3e3e3;
}

#groupdetail #descriptionGroup #iframevideo>iframe
{
	max-width: 100%;
	width: 100%;
  padding: 10px;
	float: none;
}


#groupdetail #groupMemberInfo .title
{
  width: 94%;
  color: #007cb7;
  font-family: 'Oswald','Helvetica',Arial,sans-serif;
  text-transform: uppercase;
	margin: 20px 3%;
	font-size: 1.4em;
	border: 0;
	border-bottom-width:1px;
	border-style: solid;
	-webkit-border-image: -webkit-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	-moz-border-image: -moz-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	-o-border-image: -o-linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 1 60%;
	border-image: linear-gradient(90deg, rgba(130,130,130,0), rgba(130,130,130,0.6), rgba(130,130,130,0)) 0 60%;
	border-image-slice: 1;
}

#groupdetail #groupMemberInfo .titleNbr
{
	color: #007cb7;
	font-size: 5em;
	text-align: center;
	font-family: 600;
	margin: 0 15px 15px;
	
}

#groupdetail #groupMemberInfo #groupCountry
{
	width: 94%;
	margin: 0px 3% 20px;
	text-align: center;
}

#groupdetail #groupMemberInfo .countryBlock
{
	display: inline-block;
	margin: 0px 2% 15px 2%;
  width: 21%;
}

#groupdetail #groupMemberInfo .countryBlock>div
{

}

#groupdetail #groupMemberInfo .countryBlock .txt
{
	width: 100%;
	line-height: 20px;
	text-align: center;
	font-size: 1em;
	font-weight: 600;
}

#groupdetail #groupMemberInfo .imgProf {
    overflow: hidden;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    width: 100px;
    height: 100px;
    margin: 10px auto 20px;
}

#groupdetail #groupMemberInfo .imgProf .userpicture 
{
	width: 100px;
	height: 100px;
	max-width: 100px;
}


#groupdetail #locationInfo #map {
  width: 98%;
	margin: 0 auto; 
	height: 500px;
	border: 5px solid rgba(0,124,183,1);
}




#groupdetail #locationInfo #listGroupmember
{
	margin: 25px 0 10px;
}

@media screen and (min-width: 1200px) {
	#groupdetail #groupMemberInfo .countryBlock
	{
		margin: 0px 1% 15px 1%;
		width: 18%;
	}
}

@media screen and (max-width: 800px) {
	#groupdetail #descriptionGroup, 
	#groupdetail #groupMemberInfo
	{
		width: 100%;
		float: none;
		margin-right: 0;
		margin-left: 0;
	}

	
	#groupdetail #groupMemberInfo .countryBlock
	{
		margin: 0px 1% 15px 1%;
		width: 18%;
	}
	
}

.buttons
{
	text-align: center;
}

.buttons .singlebutton {
    display: inline-block;
}

